div(class='works')
    a(name='works')
    h2 作品集
    div(class='work-list')
        div(class='work')
            a(target='_blank' href='http://short-url.zlb37.xyz/#/')
                div(class='work-title')
                    h3 ShortURL
                div(class='work-content')
                    p 基于Python Tornado，类BASE64编码方式的短网址服务，提供网页服务。
        div(class='work')
            a(target='_blank' href='http://proxy-test.zlb37.xyz')
                div(class='work-title')
                    h3 Proxy Test
                div(class='work-content')
                    p Python Tornado编写的可以检测HTTP代理是透明代理、匿名代理还是高匿代理的API服务。
        div(class='work')
            a(target='_blank' href='https://github.com/bluicezhen/Watermelon-Qiniu')
                div(class='work-title')
                    h3 Watermelon Qiniu
                div(class='work-content')
                    p 完全基于HTML File API的七牛云对象存储JS SDK，仅实现了单个文件上传功能。
        div(class='work')
            a(target='_blank' href='https://github.com/bluicezhen/Static-Blog-Server')
                div(class='work-title')
                    h3 Static Blog
                div(class='work-content')
                    p 支持Markdown的静态博客生成器，使用Python编写，支持命令行互交（暂停维护）
