doctype html
head
    title 甄三十七
    link(rel='stylesheet' href='scss/common.scss')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
body
    include ./components/home.pug
    include ./components/works.pug
    include ./components/timeline.pug
