@font-face {
  font-family: "mao-ze-dong";
  src: url("../fonts/mao-ze-dong.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}



html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#back-to-top {
  div {
    width: 50px;
    height: 50px;
    border: #777 solid 2px;
    border-radius: 999px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    z-index: 2;

    svg {
      color: #777777;
      width: 60%;
      height: auto;
      margin: auto;
    }
  }
}

@import './home.scss';
@import './works.scss';
@import './timeline.scss';
